// @import "../../assets/scss/abstracts/abstracts-dir.scss";
.auth-layout {
    background-color: #078dc4;
    // background-image: url('../../assets/images/signin-bg.svg');
    // // background-image: url('../../assets/images/login_bg.jpg');
    min-height: 100vh;
    // background-position: center !important;
    // background-size: cover;
    img{
        width: 18%;
    }
    img,h4 {
        margin: 0 auto;
        color: #fff;

    }
}
.auth-panel {
    padding: 0 2rem;
    width: 100%;
}
